workflowAgent.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1440,
          704
        ],
        "id": "f9c0df87-d40b-46f7-b1a1-0b973c829a84",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "patrimoine",
          "toolDescription": "Permet de rechercher et récupérer des informations pertinentes dans la base de données vectorielle 'patrimoine' pour répondre aux questions sur la gestion de patrimoine, en s'appuyant sur des données fiables et structurées.",
          "pineconeIndex": {
            "__rl": true,
            "value": "patrimoine",
            "mode": "list",
            "cachedResultName": "patrimoine"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.1,
        "position": [
          1792,
          608
        ],
        "id": "48c56947-5a8d-4b63-98ed-80f47a18ea02",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "lar1dNJdKEtXb8pU",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {
            "maxTokens": 100
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1264,
          688
        ],
        "id": "08580358-ab66-456f-b5f5-bb740e4a95b3",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "vTgGweofG2w3gAnT",
            "name": "OpenAi account entreprise"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "dimensions": 1536
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          1808,
          784
        ],
        "id": "69bab0fd-2367-46c6-bd3c-e3baa63b9c3d",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "vTgGweofG2w3gAnT",
            "name": "OpenAi account entreprise"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "=Tu es un assistant/chat bot de support en gestion de patrimoine, utilise le context que tu as pour répondre. Sois amical et pro. Si tu n'as pas la réponse propose de contacter pro de la boite.\nSoit concis, claire et amicale. \nSi la personne ne demande pas de détail alors répond très briévement.\n {{ $json.chatInput }}== scenario 1 : type de reponse "
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          1440,
          448
        ],
        "id": "364e8422-187e-46c7-9545-27572cfd671f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "message": "test",
          "waitUserReply": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chat",
        "typeVersion": 1,
        "position": [
          2096,
          384
        ],
        "id": "355c73f7-80cb-42bb-b563-408019a1e202",
        "name": "Respond to Chat"
      },
      {
        "parameters": {
          "public": true,
          "options": {
            "responseMode": "responseNodes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          1008,
          400
        ],
        "id": "a59652fd-093f-4ac0-a12e-f84a2e7918eb",
        "name": "When chat message received",
        "webhookId": "3311beb3-d8bf-45ca-b490-1deebf13d2b1"
      }
    ],
    "connections": {
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "223514caa351ca4e46c3b7978d620dbcf7cb412efd0057cb31ea7ffade5c8b3e"
    }
  }